* {
  background-color: black;
  color: white;
}

.logos div {
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: space-around;
  width: 100%;
}

.death-star {
  align-self: center;
  height: 200px;
  width: 200px;
}

.logo {
  height: auto;
  width: auto;
}

table {
  background-color: rgb(241, 241, 241);
}
